<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="ClientEInvoiceServicesBinding" />
        <binding name="ForibaESmmServicesBinding">
          <security mode="Transport">
          <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
          <message clientCredentialType="Certificate" algorithmSuite="Default" />
           </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="CustomClientEDespatchServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomClientEArsivServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomClientEInvoiceServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomClientESmmServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://efaturawstest.fitbulut.com/ClientEDespatchServicePort.svc"
        binding="customBinding" bindingConfiguration="CustomClientEDespatchServicesBinding"
        contract="serviceDespatch.ClientEDespatchServicesPort" name="ClientEDespatchServicesPort" />
      <endpoint address="https://earsivwstest.fitbulut.com/ClientEArsivServicesPort.svc"
        binding="customBinding" bindingConfiguration="CustomClientEArsivServicesBinding"
        contract="serviceArchive.eArsivInvoicePortType" name="ClientEArsivServicesPort" />
      <endpoint address="http://fitcons.com/eInvoice/" binding="basicHttpBinding"
        bindingConfiguration="ClientEInvoiceServicesBinding" contract="serviceInvoicee.ClientEInvoiceServicesPort"
        name="ClientEInvoiceServicesPort" />
      <endpoint address="https://earsivwstest.fitbulut.com/ClientESmmServicesPort.svc"
        binding="customBinding" bindingConfiguration="CustomClientESmmServicesBinding"
        contract="serviceSmm.ForibaESmmServicesPort" name="ForibaESmmServicesPort" />
    </client>



  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
