<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <bindings>

      <customBinding>
        <binding name="CustomClientEDespatchServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomClientEArsivServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
        <binding name="CustomClientEInvoiceServicesBinding" receiveTimeout="00:05:00"
          sendTimeout="00:01:00">
          <textMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            messageVersion="Soap11" />
          <httpsTransport maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
            maxBufferSize="2147483647" />
        </binding>
      </customBinding>
    </bindings>

    <client>

      <endpoint address="https://efaturawstest.fitbulut.com/ClientEDespatchServicePort.svc"
        binding="customBinding" bindingConfiguration="CustomClientEDespatchServicesBinding"
        contract="serviceDespatch.ClientEDespatchServicesPort" name="ClientEDespatchServicesPort" />

      <endpoint address="https://earsivwstest.fitbulut.com/ClientEArsivServicesPort.svc"
        binding="customBinding" bindingConfiguration="CustomClientEArsivServicesBinding"
        contract="serviceArchive.eArsivInvoicePortType" name="ClientEArsivServicesPort" />

      <endpoint address="https://efaturawstest.fitbulut.com/ClientEInvoiceServices/ClientEInvoiceServicesPort.svc"
        binding="customBinding" bindingConfiguration="CustomClientEInvoiceServicesBinding"
        contract="serviceInvoicee.ClientEInvoiceServicesPort" name="ClientEInvoiceServicesPort" />

    </client>



  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
